extends layout

block content
  div(class="banner bg-dark")
    div(class="banner__title" role="presentation") 
      p This is Our Story
    img(class="banner__image animate__animated animate__zoomInDown" src="https://c.tenor.com/CID8I-BiKYAAAAAC/comforting.gif")
    h1(class="banner__title banner__stroked-title") This is Our Story
  .container
    .timeline
      .swiper-container
        .swiper-wrapper
          .swiper-slide(style='background-image: url(https://unsplash.it/1920/500?image=11' data-year='April')
            .swiper-slide-content
              span.timeline-year 1st Month
              h4.timeline-title Start of Our Journey
              p.timeline-text
                | A new story has begun. 
                | Two lovers finally knew that they were meant to each other. 
                | Started with a commitment to always be there for each other.
                | All the loneliness that haunted were gone replaced by all the lovely moment ahead.
                | With the same dream that we hope we can be happy living together forever.
          .swiper-slide(style='background-image: url(https://unsplash.it/1920/500?image=12' data-year='May')
            .swiper-slide-content
              span.timeline-year 2nd Month
              h4.timeline-title Building the Moment
              p.timeline-text
                | Curing time has arrived. Healing time is already there. We started to build all the moment we could.
                | Cheering each other, caring for each other, and loving each other.
                | Together, we've already passed through all illness, fears, and tears with all stressful & hopeless moments.
          .swiper-slide(style='background-image: url(https://unsplash.it/1920/500?image=13' data-year='June')
            .swiper-slide-content
              span.timeline-year 3rd Month
              h4.timeline-title Feel the Love
              p.timeline-text
                | The time has flown so fast at this time.
                | Feeling like we were just together yesterday, just know to each other yesterday.
                | That's because we just spare more of our time.
                | Giving more and more love and making us not realize that we've passed through many things together.
                | Starting to know that the love is real. True love does exist and it is<br><b>Andika and Лилия</b>
          .swiper-slide(style='background-image: url(https://unsplash.it/1920/500?image=14' data-year='July')
            .swiper-slide-content
              span.timeline-year 4th Month
              h4.timeline-title Closer and Closer
              p.timeline-text
                | Look! We've succeeded in creating a great relationship.
                | Getting open to each other, closer and closer.
                | Understanding and giving time to each other.
                | Realize it or not, we've gotten into our real life and are open to everything starting at this time.
                | We started to get used to seeing each other too!
          .swiper-slide(style='background-image: url(https://unsplash.it/1920/500?image=15' data-year='August')
            .swiper-slide-content
              span.timeline-year 5th Month
              h4.timeline-title Comfortable
              p.timeline-text
                | That's the right and correct word that is amazing for us.
                | Comfortable, we start to accept each other no matter what.
                | Being a person where we can lay our head, a place where we can calm ourselves down.
                | This unique comfort feels can only be achieved when we are by each other's side.
          .swiper-slide(style='background-image: url(https://unsplash.it/1920/500?image=16' data-year='September')
            .swiper-slide-content
              span.timeline-year 6th Month
              h4.timeline-title Love is a Rainbow
              p.timeline-text
                | Love is like a rainbow, it will always come after a storm.
                | All the storm of life are coming into our life.
                | Starting to disturb and trying to separate us from being there to each other.
                | But they failed. All our love starting to glow more after passing through the storm. 
                | Hoping we will always be like this and pass every storm of our life together just to see a beautiful rainbow at the end.
          .swiper-slide(style='background-image: url(https://unsplash.it/1920/500?image=17' data-year='October')
            .swiper-slide-content
              span.timeline-year Today
              h4.timeline-title Happy 6th Mensiversary
              p.timeline-text
                | Our journey is still so far away ahead. We will always be happy together.
                | Sometimes we need to pass through all sadness together.
                | But don't forget that we're meant to each other to be forever passing through everything.
                | I love you so much Lia and will always love you more for yesterday, today, and tomorrow.
                | <br> <b>Love Forever, Andika & Лилия</b>
        .swiper-button-prev
        .swiper-button-next
        .swiper-pagination
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js')
  script(src='/javascripts/script.js')
