extends layouttwo

block content
  .container-fluid.position-relative
    div(class="card bg-dark position-absolute top-0 start-50 translate-middle-x mw-100")
      img(src="https://media.discordapp.net/attachments/798588688715087872/900943832022155355/funnygifsbox.com-2020-04-20-11-56-09-48.gif")
      .card-body.text-center
        h5.card-title(style="color: red") <b>Restricted Content</b>
        p.card-text 
        form(method="post" class="needs-validation")
          .mb-3
            label(for="exampleInputPassword1" class="form-label") <u>Please input the correct password below to continue.</u>
            input(type="text" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" required)
            p(class="#{responded}" style="color: red") Wrong Password, Please try again.
          button(type="submit" class="btn btn-outline-success") Submit
  script.
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
            console.log(event);

            form.classList.add('was-validated')
          }, false)
        })
    })()