doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Happy Valentine's Day
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
    link(rel='stylesheet' href='stylesheets/valentine.css')
  body
    .container
      .glass
      .thorns
        div
        div
        div
        div
      .glow
      .rose-leaves
        div
        div
      .rose-petals
        div
        div
        div
        div
        div
        div
        div
      .sparkles
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div